<div id='stretch_dragger' class='dragger dragger_transitions'> S </div>
<div id='rotation_dragger' class='dragger dragger_transitions'> R </div>
<div id='opacity_dragger' class='dragger dragger_transitions'> O </div>
<div id='blur_brightness_dragger' class='dragger dragger_transitions'> B </div>
<div id='contrast_saturate_dragger' class='dragger dragger_transitions'> C </div>
<div id='grayscale_invert_dragger' class='dragger dragger_transitions'> G </div>
<div id='threeD_dragger' class='dragger dragger_transitions'> 3D </div>
<div id='party_dragger' class='dragger dragger_transitions'> P </div>
