<div id='dragger_switches_container'>
  <div id='dragger_all_switch' class='dragger_all_switch'><span> -All- </span></div>
  <div id='stretch_dragger_switch' class='dragger_switch'><span> Stretch </span></div>
  <div id='rotation_dragger_switch' class='dragger_switch'><span> Rotate </span></div>
  <div id='opacity_dragger_switch' class='dragger_switch'><span> Opacity </span></div>
  <div id='blur_brightness_dragger_switch' class='dragger_switch'><span> Blur <br> Brightness </span></div>
  <div id='contrast_saturate_dragger_switch' class='dragger_switch'><span> Contrast <br> Saturation </span></div>
  <div id='grayscale_invert_dragger_switch' class='dragger_switch'><span> Grayscale <br> Inversion </span></div>
  <div id='threeD_dragger_switch' class='dragger_switch'><span> 3D </span></div>
  <div id='party_dragger_switch' class='dragger_switch'><span> Party </span></div>
</div>
