<div id='dragger-stretch' class='dragger d-transition'> S </div>
<div id='dragger-rotation' class='dragger d-transition'> R </div>
<div id='dragger-opacity' class='dragger d-transition'> O </div>
<div id='dragger-blur_brightness' class='dragger d-transition'> B </div>
<div id='dragger-contrast_saturate' class='dragger d-transition'> C </div>
<div id='dragger-grayscale_invert' class='dragger d-transition'> G </div>
<div id='dragger-threeD' class='dragger d-transition'> 3D </div>
<div id='dragger-party' class='dragger d-transition'> P </div>
