<div id='stretch_dragger' class='dragger d-transition'> S </div>
<div id='rotation_dragger' class='dragger d-transition'> R </div>
<div id='opacity_dragger' class='dragger d-transition'> O </div>
<div id='blur_brightness_dragger' class='dragger d-transition'> B </div>
<div id='contrast_saturate_dragger' class='dragger d-transition'> C </div>
<div id='grayscale_invert_dragger' class='dragger d-transition'> G </div>
<div id='threeD_dragger' class='dragger d-transition'> 3D </div>
<div id='party_dragger' class='dragger d-transition'> P </div>
