<div id='d-switches-container'>
  <div id='dragger-switch-all' class='dragger-switch-all' data-action'all-draggers'><span> -All- </span></div>
  <div id='switch-stretch' class='dragger-switch'><span> Stretch </span></div>
  <div id='switch-rotation' class='dragger-switch'><span> Rotate </span></div>
  <div id='switch-opacity' class='dragger-switch'><span> Opacity </span></div>
  <div id='switch-blur_brightness' class='dragger-switch'><span> Blur <br> Brightness </span></div>
  <div id='switch-contrast_saturate' class='dragger-switch'><span> Contrast <br> Saturation </span></div>
  <div id='switch-grayscale_invert' class='dragger-switch'><span> Grayscale <br> Inversion </span></div>
  <div id='switch-threeD' class='dragger-switch'><span> 3D </span></div>
  <div id='switch-party' class='dragger-switch'><span> Party </span></div>
</div>
