<div id='explore-container'>
  <div id='explore-image-container'>
    <img id='image-explore' src='/icons/1x1.png'/>
  </div>
  <div id='button-explore-left' class='button-explore'>
    <img class='explore-icon-arrow nav-button-icon' src='/icons/x-icon.png'>
  </div>
  <div id='button-explore-right' class='button-explore'>
    <img class='explore-icon-arrow nav-button-icon' src='/icons/x-icon.png'>
  </div>
  <div id='explore-info-container'>
    <a id='igram-link'> <div id='insta-link-text'> instagram link </div>
    </a>
  </div>
</div>
