<div id='app_info'>
  <p class='info_title'> wall-collective </p>
  <div class='info_line_center'> </div>
  <br>
  <br>
  <div id='inner_info'>
    <div class='info_paragraph'>
      Here's what's happening.
      <br>
      <br>
      When you move or transform an image, other visitors will see that change in real time on their device.
      Drag and drop to arrange images.  Pinch to resize and rotate.
      Use the draggers (in the <i> tools menu </i>) to transform the image.
      The <img class='inline_icon' src='icons/person_icon.png'/><img class='inline_icon' src='icons/person_icon.png'/><img class='inline_icon' src='icons/person_icon.png'/>
      icons show you how many visitors are currently on the page with you.
      <br>
    </div>
    <br>
    <br>
    <p> <u> privacy policy </u> </p>
    <br>
    <div class='info_paragraph'>
      You own the images you upload.  You are not tracked.  Here is the list of information gathered when you visit the site:
      <br>
      <br>
      <ul>
        <li> Your browser type (Safari, Firefox, Internet Explorer, etc.).  This lets us study what kind of browsers are visiting the site.  Helpful.
        <li> Time of visit.  This lets us see how often the site is being used.  Interesting.
        <li> Whether or not the browser has been on the page before.  This lets us know if a visitor is new or revisiting.  Helpful and interesting.
      </ul>
      <br>
      <br>
      Two cookies are stored on your broswer by this app.
      <br>
      <br>
      <ul>
        <li> A unique string of characters to let us know if a browser is new or revisiting.
        <li> A string to indiciate which of the draggers were most recently open/active.
      </ul>
      <br>
      These cookies are set to expire in 7 days.  You can delete these cookies using your browser.
      <br>
      <br>
      This privacy policy will be updated regularly when new features are introduced.
      <br>
      <br>
    </div>
  </div>
</div>
<div id='close_info_container'>
  <img class='x_icon icon_image' src='/icons/x_icon.png'>
</div>
