<div id='upload-preview-container' class='rainbow-border'>
  <img id='upload-image-preview' src='/icons/1x1.png'/>
  <div id='upload-confirm-container'>
    <div id='button-confirm-upload' class='button-confirmer confirm-yes' data-action='upload-confirm'> Confirm Upload </div>
    <div id='button-reject-upload' class='button-confirmer confirm-no' data-action='upload-reject'> Cancel </div>
  </div>
  <div id='upload-confirm-info'> </div>
</div>

<div id='delete-preview-container' class='rainbow-border'>
  <img id='delete-image-preview' src='/icons/1x1.png'/>
  <div id='delete-confirm-container'>
    <div id='button-confirm-delete' class='button-confirmer confirm-yes' data-action='delete-confirm'> Confirm Delete </div>
    <div id='button-reject-delete' class='button-confirmer confirm-no' data-action='delete-reject'> Cancel </div>
  </div>
  <div id='delete-confirm-info'></div>
</div>
