/*
z-indexes:

dragger: 40000;

dragger_switch: 50000;
dragger_switches_container: 50000;
navigation_container: 50000;

dragged image: 60000;

navigation_toggle_button_container: 80000;
dragger_info: 86000;


upload_preview_container: 90000;
debug_box: 90000;
fullscreenmaskclass: 90000;
*/

* {
  border:0;
  margin:0;
  padding:0;
}

#blur_brightness_dragger {
  box-shadow: 0 0 3px 3px darkorange;
  color: darkorange;
}

#blur_brightness_dragger_switch::first-letter {
  font-size: 150%;
  color: darkorange;
}

#blur_brightness_dragger_switch.switchon {
  background-color: peachpuff !important;
}

#confirm_or_reject_container {
  bottom:0;
  display:flex;
  height:15vh;
  justify-content:space-around;
  position:absolute;
  width:100%;
  z-index:50000;
}

#confirm_or_reject_container_info {
  bottom:0;
  color:white;
  position:absolute;
}

#connect_info {
  background-color: transparent;
  bottom: 1vh;
  color: white;
  height: 3vh;
  left: 2vw;
  position: fixed;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);
  transition:transform 150ms ease-in-out;
  width: 80vw;
  z-index:60000;
}

#contrast_saturate_dragger {
  box-shadow:0 0 3px 3px crimson;
  color:crimson;
}

#contrast_saturate_dragger_switch.switchon {
  background-color:lightcoral!important;
}

#contrast_saturate_dragger_switch::first-letter {
  color:crimson;
  font-size:150%;
}

#debug_box {
  background-color:transparent;
  border:1px dashed white;
  color:white;
  display:block;
  height:30vh;
  margin:0;
  padding:0;
  position:absolute;
  right:0;
  top:0;
  width:50vw;
  z-index:90000;
}

#delete_confirm_or_reject_container {
  bottom:0;
  display:flex;
  height:15vh;
  justify-content:space-around;
  position:absolute;
  width:100%;
  z-index:50000;
}

#delete_confirm_or_reject_container_info {
  bottom:0;
  color:white;
  position:absolute;
}

#delete_preview {
  display:block;
  margin:2vh auto auto;
  max-height:90%;
  max-width:90%;
}

#delete_preview_container {
  background-color:black;
  border:.5px solid white;
  height:60vh;
  left:20vw;
  position:fixed;
  top:15vh;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);
  transition:transform 150ms ease-in-out;
  width:60vw;
  z-index:90000;
}

#dragger_info {
  background-color:transparent;
  color:yellow;
  position:fixed;
  text-align:center;
  top:0;
  z-index:86000;
}

#dragger_switches_container {
  bottom:15vh;
  display:flex;
  flex-direction:column;
  height:70vh;
  justify-content:space-around;
  position:fixed;
  transform:scaleX(0);
  -webkit-transform:scaleX(0);
  transition:transform 150ms ease-in-out;
  z-index:50000;
}

#exit_door {
  transition:transform 150ms ease-in-out;
}

#grayscale_invert_dragger {
  box-shadow:0 0 3px 3px silver;
  color:silver;
}

#grayscale_invert_dragger_switch.switchon {
  background-color:#F3E13E!important;
}

#grayscale_invert_dragger_switch::first-letter {
  color:silver;
  font-size:150%;
}

#image_upload_preview {
  display:block;
  margin:2vh auto auto;
  max-height:90%;
  max-width:90%;
}

#line_one {
  top:40%;
}

#line_one,#line_two,#line_three {
  -moz-transition:all .13s;
  -ms-transition:all .13s;
  -o-transition:all .13s;
  -webkit-transition:all .13s;
  background-color:black;
  border-radius:20%;
  height:4%;
  left:25%;
  position:absolute;
  transition:all .13s ease-in-out;
  width:50%;
}

#line_three {
  top:60%;
}

#line_two {
  top:50%;
}

#navigation_container {
  background-color:transparent;
  bottom:0;
  display:flex;
  height:15vh;
  justify-content:space-around;
  position:fixed;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);

  transition:transform 150ms ease-in-out;
  width:100%;
  z-index:50000;
}

#navigation_toggle_button_container {
  bottom:0;
  height:10vh;
  left:auto;
  position:absolute;
  right:0;
  top:auto;
  width:10vh;
  z-index:80000;
}

#navigation_toggle_button_container button {
  -moz-appearance:none;
  -moz-border-radius:0;
  -moz-box-shadow:none;
  -webkit-appearance:none;
  -webkit-border-radius:0;
  -webkit-box-shadow:none;
  appearance:none;
  background-color:gray; /* resting state color */
  border:none;
  border-radius:0;
  box-shadow:none;
  color:black; /* text color */
  cursor:pointer;
  display:inline-block;
  font-family:"Open Sans", sans-serif;
  font-size:100%;
  height:100%;
  margin:0;
  opacity:1;
  padding:0;
  position:relative;
  width:100%;
}

#navigation_toggle_button_container button:focus {
  outline:none;
}

#navigation_toggle_button_container button:hover,#navigation_toggle_button_container button:active {
  background-color:gray; /* hover state color */
  opacity:1;
}

#opacity_dragger {
  box-shadow:0 0 3px 3px white;
  color:white;
}

#opacity_dragger_switch.switchon {
  background-color:silver!important;
}

#opacity_dragger_switch::first-letter {
  color:white;
  font-size:150%;
}

#tools_container {
  background-color:transparent;
  bottom:0;
  display:flex;
  height:15vh;
  justify-content:space-around;
  position:fixed;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);

  transition:transform 150ms ease-in-out;
  width:100%;
  z-index:50000;
}

#party_dragger {
  box-shadow:0 0 3px 3px purple;
  color:purple;
}

#party_dragger_switch.switchon {
  background-color:plum!important;
}

#party_dragger_switch::first-letter {
  color:purple;
  font-size:150%;
}

#rotation_dragger {
  box-shadow:0 0 3px 3px green;
  color:green;
}

#rotation_dragger_switch.switchon {
  background-color:lightgreen!important;
}

#rotation_dragger_switch::first-letter {
  color:green;
  font-size:150%;
}

#selected_image {
  display:block;
  margin:auto;
  max-height:90%;
  max-width:90%;
}

#selected_image_box {
  display:none;
  height:100%;
  position:absolute;
  width:100%;
}

#selected_image_container {
  height:90%;
}

#selectheader {
  font-size:2vh;
  height:10%;
  text-align:center;
}

#stretch_dragger {
  box-shadow:0 0 3px 3px blue;
  color:blue;
}

#stretch_dragger_switch.switchon {
  background-color:lightblue!important;
}

#stretch_dragger_switch::first-letter {
  color:blue;
  font-size:150%;
}

#threeD_dragger {
  box-shadow: 0 0 3px 3px deeppink;
  color: deeppink;
}

#threeD_dragger_switch::first-letter {
  font-size: 150%;
  color: deeppink;
}

#threeD_dragger_switch.switchon {
  background-color: lightpink !important;
}

#update_message {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-family:Courier New, Courier, monospace;
  font-size:2.25vh;
  font-weight:300;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  transform: translateX(100vw) translateY(100vh) scaleX(0) scaleY(0);
  z-index: 99999;
}

#upload_preview_container {
  background-color:black;
  border:.5px solid white;
  height:60vh;
  left:20vw;
  position:fixed;
  top:15vh;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);
  transition:transform 150ms ease-in-out;
  width:60vw;
  z-index:90000;
}

#wrapper {
  background-color:black;
  display:block;
  left:0;
  position:absolute;
  top:0;
}

/* opacity is the primary feature of this functionality. */
.btn-file {
  overflow:hidden;
  position:relative;
}

.btn-file input[type=file] {
  background:grey;
  cursor:inherit;
  display:block;
  filter:alpha(opacity=0);
  min-height:100%;
  min-width:100%;
  opacity:0;
  outline:none;
  position:absolute;
  right:0;
  top:0;
}

.button {
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  border-top:1px solid #0a2333;
  -moz-box-shadow:rgba(0,0,0,1) 0 1px 0;
  -webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;
  box-shadow:rgba(0,0,0,1) 3px 7px 10px 0;
  color:black;
  font-family:‘Arial Narrow’, sans-serif;
  font-size:1.75vh;
  font-weight:700;
  height: 10vh;
  text-align:center; /* horizontal centering */
  text-decoration:none;
  text-shadow:rgba(0,0,0,.4) 0 1px 0;
  vertical-align:middle;
  width: 10vh;

  /* vertical centering */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button:focus {
  background:#00aaff;
  border-top-color:#00aaff;
  color:#ffffff;
}

.button_no_show {
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  background:transparent;
  border-radius:7px;
  color:transparent;
  font-family:Courier New, Courier, monospace;
  font-size:2.25vh;
  font-weight:700;
  height:10vh;
  padding:0;
  text-align:center;
  text-decoration:none;
  text-shadow:rgba(0,0,0,.4) 0 1px 0;
  vertical-align:middle;
  width:15vw;
}

.confirm_button {
  -moz-border-radius:7px;
  -moz-box-shadow:rgba(0,0,0,1) 0 1px 0;
  -webkit-border-radius:7px;
  -webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;
  border-radius:7px;
  border-top:1px solid #0a2333;
  bottom:2vh;
  box-shadow:rgba(0,0,0,1) 3px 7px 10px 0;
  color:black;
  display:flex;
  flex-direction:column;
  font-family:Courier New, Courier, monospace;
  font-size:2.25vh;
  font-weight:700;
  height:10vh;
  justify-content:center;
  padding:0;
  text-align:center;
  text-decoration:none;
  text-shadow:rgba(0,0,0,.4) 0 1px 0;
  vertical-align:middle;
  width:40%;
}

.confirm_no {
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 56%, #8f0222 78%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a90329 56%,#8f0222 78%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a90329 56%,#8f0222 78%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.confirm_yes {
  background: #b4ddb4; /* Old browsers */
  background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 5%, #52b152 33%, #008a00 83%, #005700 100%, #002400 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 5%,#52b152 33%,#008a00 83%,#005700 100%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 5%,#52b152 33%,#008a00 83%,#005700 100%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.connect_info_is_open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.delete_preview_container_is_open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.dragger {
  background-color:transparent;
  border-radius:100%;
  color:#A9A9A9;
  display:none;
  font-family:Courier New, Courier, monospace;
  font-size:24px;
  font-weight:700;
  height:40px;
  line-height:40px;
  position:fixed;
  text-align:center;
  top:0;
  width:40px;
  z-index:40000;
}

.dragger_switch,.dragger_all_switch {
  background-color:#736E6E;
  border-bottom-right-radius:15px;
  border-top-right-radius:15px;
  font-family:Courier New, Courier, monospace;
  font-size:2vh;
  font-weight:700;
  height:6vh;
  padding:5%;
  z-index:50000;
}

.dragger_switches_container_is_open {
  transform:scaleX(1)!important;
  -webkit-transform:scaleX(1)!important;
}

.dragger_transitions {
  -webkit-transition:left .1s, top .1s, width .1s, height .1s, background-color .1s, 0 .1s;
  transition:left .1s, top .1s, width .1s, height .1s, background-color .1s, transform .1s;
}

.drawing {
  box-sizing:border-box;
  position:absolute;
}

.exit_door_hover {
  -webkit-filter: brightness(2);
}

.hline {
  height:1px;
  left:0;
  position:absolute;
  width:100%;
}

.icon_image {
  height:50%;
  margin:auto;
  width:50%;
}

.info {
  font-size:1.75vh;
}

.navigation_button {
  background: #6db3f2; /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 21%, #54a3ee 21%, #3690f0 75%, #1e69de 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 21%,#54a3ee 21%,#3690f0 75%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 21%,#54a3ee 21%,#3690f0 75%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.navigation_container_is_open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.person_icon {
  height: 3vh;
  width: 1.5vh;
}

.tools_button {
  background: rgb(180,221,180); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(180,221,180,1) 0%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 100%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 100%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(180,221,180,1) 0%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 100%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.tools_container_is_open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.rainbow_border {
  -webkit-animation:rainbow 4s infinite alternate;
  border:4px solid hsl(0,100%,50%);
}

.switchon {
  background-color:#00709D;
}

.tool_hover_class {
  background-color:grey!important;
}

.upload_preview_container_is_open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.vline {
  height:100%;
  position:absolute;
  top:0;
  width:1px;
}

body {
  background-color: black;
  overflow-x:hidden;
  overflow-y:hidden;  /* fixed the scrolling problem */
  position:fixed;
}

@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}

.rainbow_border{
  -webkit-animation: rainbow 4s infinite alternate;
  border: 4px solid hsl(0, 100%, 50%);
}

@-webkit-keyframes blink {
  0%   { outline: 1px solid white;
         z-index: 90000;  }
  33%  { outline: 1px solid white;
    z-index: 90000;  }
  100% { outline: 1px solid transparent;
    z-index: 90000;  }
}

.selected_file_animation {
  outline: 1px solid transparent;
  -webkit-animation: blink 2s ease-out 0s 1;
  animation: blink 2s ease-out 0s 1;
}
@-webkit-keyframes temp_fade {
  0%   { opacity: .50; }
  33%  { opacity: .50; }
  100% { opacity: .50; }
}

.temp_fade {
  -webkit-animation: temp_fade 2s ease-out 0s 1;
  animation: temp_fade 2s ease-out 0s 1;
}
