/*
z-indexes:

dragger: 40000;

dragger_switch: 50000;
d-switches-container: 50000;
nav-main-container: 50000;

dragged image: 60000;

nav-toggle-button-container: 80000;
d-info: 86000;


upload-preview-container: 90000;
debug-container: 90000;
fullscreenmaskclass: 90000;
*/

* {
  border:0;
  margin:0;
  padding:0;
}

#dragger-blur_brightness {
  box-shadow: 0 0 3px 3px darkorange;
  color: darkorange;
}

#switch-blur_brightness::first-letter {
  font-size: 150%;
  color: darkorange;
}

#switch-blur_brightness.switchon {
  background-color: peachpuff !important;
}

#upload-confirm-container {
  bottom:0;
  display:flex;
  height:15vh;
  justify-content:space-around;
  position:absolute;
  width:100%;
  z-index:50000;
}

#upload-confirm-info {
  bottom:0;
  color:white;
  position:absolute;
}

#connect-info {
  background-color: transparent;
  bottom: 1vh;
  color: white;
  height: 3vh;
  left: 2vw;
  position: fixed;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);
  transition:transform 150ms ease-in-out;
  width: 80vw;
  z-index:60000;
}

#dragger-contrast_saturate {
  box-shadow:0 0 3px 3px crimson;
  color:crimson;
}

#switch-contrast_saturate.switchon {
  background-color:lightcoral!important;
}

#switch-contrast_saturate::first-letter {
  color:crimson;
  font-size:150%;
}

#debug-container {
  background-color:transparent;
  border:1px dashed white;
  color:white;
  display:block;
  height:30vh;
  margin:0;
  padding:0;
  position:absolute;
  right:0;
  top:0;
  width:50vw;
  z-index:90000;
}

#delete-confirm-container {
  bottom:0;
  display:flex;
  height:15vh;
  justify-content:space-around;
  position:absolute;
  width:100%;
  z-index:50000;
}

#delete-confirm-info {
  bottom:0;
  color:white;
  position:absolute;
}

#image-delete-preview {
  display:block;
  margin:2vh auto auto;
  max-height:90%;
  max-width:90%;
}

#delete-preview-container {
  background-color:black;
  border:.5px solid white;
  height:60vh;
  left:20vw;
  position:fixed;
  top:15vh;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);
  transition:transform 150ms ease-in-out;
  width:60vw;
  z-index:90000;
}

#d-info {
  background-color:transparent;
  color:yellow;
  position:fixed;
  text-align:center;
  top:0;
  z-index:86000;
}

#d-switches-container {
  bottom:15vh;
  display:flex;
  flex-direction:column;
  height:70vh;
  justify-content:space-around;
  position:fixed;
  transform:scaleX(0);
  -webkit-transform:scaleX(0);
  transition:transform 150ms ease-in-out;
  z-index:50000;
}

#exit_door {
  transition:transform 150ms ease-in-out;
}

#dragger-grayscale_invert {
  box-shadow:0 0 3px 3px silver;
  color:silver;
}

#switch-grayscale_invert.switchon {
  background-color:#F3E13E!important;
}

#switch-grayscale_invert::first-letter {
  color:silver;
  font-size:150%;
}

#image-upload-preview {
  display:block;
  margin:2vh auto auto;
  max-height:90%;
  max-width:90%;
}

#images {
  border: 1px black solid;
  /*border-left: 1px rgba(41, 40, 40, 0.2) solid;
  border-right: 1px rgba(41, 40, 40, 0.2) solid;
  border-top: 1px rgba(41, 40, 40, 0.2) solid;
  border-bottom: 1px rgba(41, 40, 40, 0.2) solid;*/
  position: relative;
  margin: auto;
}

#ham-line1 {
  top:40%;
}

#ham-line1,#ham-line2,#ham-line3 {
  -moz-transition:all .13s;
  -ms-transition:all .13s;
  -o-transition:all .13s;
  -webkit-transition:all .13s;
  background-color:black;
  border-radius:20%;
  height:4%;
  left:25%;
  position:absolute;
  transition:all .13s ease-in-out;
  width:50%;
}

#ham-line3 {
  top:60%;
}

#ham-line2 {
  top:50%;
}

#nav-account-container {
  background-color:transparent;
  bottom:0;
  display:flex;
  height:15vh;
  justify-content:space-around;
  position:fixed;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);

  transition:transform 150ms ease-in-out;
  width:100%;
  z-index:50000;
}


#nav-main-container {
  background-color:transparent;
  bottom:0;
  display:flex;
  height:15vh;
  justify-content:space-around;
  position:fixed;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);

  transition:transform 150ms ease-in-out;
  width:100%;
  z-index:50000;
}

#nav-toggle-button-container {
  bottom:0;
  height:10vh;
  left:auto;
  position:absolute;
  right:0;
  top:auto;
  width:10vh;
  z-index:80000;
}

#nav-toggle-button-container button {
  -moz-appearance:none;
  -moz-border-radius:0;
  -moz-box-shadow:none;
  -webkit-appearance:none;
  -webkit-border-radius:0;
  -webkit-box-shadow:none;
  appearance:none;
  background-color:gray; /* resting state color */
  border:none;
  border-radius:0;
  box-shadow:none;
  color:black; /* text color */
  cursor:pointer;
  display:inline-block;
  font-family:"Open Sans", sans-serif;
  font-size:100%;
  height:100%;
  margin:0;
  opacity:1;
  padding:0;
  position:relative;
  width:100%;
}

#nav-toggle-button-container button:focus {
  outline:none;
}

#nav-toggle-button-container button:hover,#nav-toggle-button-container button:active {
  background-color:gray; /* hover state color */
  opacity:1;
}

#dragger-opacity {
  box-shadow:0 0 3px 3px white;
  color:white;
}

#switch-opacity.switchon {
  background-color:silver!important;
}

#switch-opacity::first-letter {
  color:white;
  font-size:150%;
}

#nav-tools-container {
  background-color:transparent;
  bottom:0;
  display:flex;
  height:15vh;
  justify-content:space-around;
  position:fixed;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);

  transition:transform 150ms ease-in-out;
  width:100%;
  z-index:50000;
}

#dragger-party {
  box-shadow:0 0 3px 3px purple;
  color:purple;
}

#switch-party.switchon {
  background-color:plum!important;
}

#switch-party::first-letter {
  color:purple;
  font-size:150%;
}

#dragger-rotation {
  box-shadow:0 0 3px 3px green;
  color:green;
}

#switch-rotation.switchon {
  background-color:lightgreen!important;
}

#switch-rotation::first-letter {
  color:green;
  font-size:150%;
}

#selected_image {
  display:block;
  margin:auto;
  max-height:90%;
  max-width:90%;
}

#selected_image_box {
  display:none;
  height:100%;
  position:absolute;
  width:100%;
}

#selected_image_container {
  height:90%;
}

#selectheader {
  font-size:2vh;
  height:10%;
  text-align:center;
}

#dragger-stretch {
  box-shadow:0 0 3px 3px blue;
  color:blue;
}

#switch-stretch.switchon {
  background-color:lightblue!important;
}

#switch-stretch::first-letter {
  color:blue;
  font-size:150%;
}

#dragger-threeD {
  box-shadow: 0 0 3px 3px deeppink;
  color: deeppink;
}

#switch-threeD::first-letter {
  font-size: 150%;
  color: deeppink;
}

#switch-threeD.switchon {
  background-color: lightpink !important;
}

#nav-upload-container {
  background-color:transparent;
  bottom:0;
  display:flex;
  height:15vh;
  justify-content:space-around;
  position:fixed;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);

  transition:transform 150ms ease-in-out;
  width:100%;
  z-index:50000;
}

#info-update-message {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-family:Courier New, Courier, monospace;
  font-size:2.25vh;
  font-weight:300;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  transform: translateX(100vw) translateY(100vh) scaleX(0) scaleY(0);
  z-index: 99999;
}

#upload-preview-container {
  background-color:black;
  border:.5px solid white;
  height:60vh;
  left:20vw;
  position:fixed;
  top:15vh;
  transform:scaleY(0);
  -webkit-transform:scaleY(0);
  transition:transform 150ms ease-in-out;
  width:60vw;
  z-index:90000;
}

#wrapper {
  background-color:black;
  display:block;
  left:0;
  position:absolute;
  top:0;
}

/* opacity is the primary feature of this functionality. */
.btn-file {
  overflow:hidden;
  position:relative;
}

.btn-file input[type=file] {
  background:grey;
  cursor:inherit;
  display:block;
  filter:alpha(opacity=0);
  min-height:100%;
  min-width:100%;
  opacity:0;
  outline:none;
  position:absolute;
  right:0;
  top:0;
}

.button {
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  border-top:1px solid #0a2333;
  -moz-box-shadow:rgba(0,0,0,1) 0 1px 0;
  -webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;
  box-shadow:rgba(0,0,0,1) 3px 7px 10px 0;
  color:black;
  font-family:‘Arial Narrow’, sans-serif;
  font-size:1.75vh;
  font-weight:700;
  height: 10vh;
  text-align:center; /* horizontal centering */
  text-decoration:none;
  text-shadow:rgba(0,0,0,.4) 0 1px 0;
  vertical-align:middle;
  width: 10vh;

  /* vertical centering */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button:focus {
  background:#00aaff;
  border-top-color:#00aaff;
  color:#ffffff;
}

.button-no-show {
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  background:transparent;
  border-radius:7px;
  color:transparent;
  font-family:Courier New, Courier, monospace;
  font-size:2.25vh;
  font-weight:700;
  height:10vh;
  padding:0;
  text-align:center;
  text-decoration:none;
  text-shadow:rgba(0,0,0,.4) 0 1px 0;
  vertical-align:middle;
  width:15vw;
}

.button-confirmer {
  -moz-border-radius:7px;
  -moz-box-shadow:rgba(0,0,0,1) 0 1px 0;
  -webkit-border-radius:7px;
  -webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;
  border-radius:7px;
  border-top:1px solid #0a2333;
  bottom:2vh;
  box-shadow:rgba(0,0,0,1) 3px 7px 10px 0;
  color:black;
  display:flex;
  flex-direction:column;
  font-family:Courier New, Courier, monospace;
  font-size:2.25vh;
  font-weight:700;
  height:10vh;
  justify-content:center;
  padding:0;
  text-align:center;
  text-decoration:none;
  text-shadow:rgba(0,0,0,.4) 0 1px 0;
  vertical-align:middle;
  width:40%;
}

.confirm-no {
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 56%, #8f0222 78%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a90329 56%,#8f0222 78%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a90329 56%,#8f0222 78%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.confirm-yes {
  background: #b4ddb4; /* Old browsers */
  background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 5%, #52b152 33%, #008a00 83%, #005700 100%, #002400 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 5%,#52b152 33%,#008a00 83%,#005700 100%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 5%,#52b152 33%,#008a00 83%,#005700 100%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.connect-info-is-open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.delete-preview-container-is-open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.dragger {
  background-color:transparent;
  border-radius:100%;
  color:#A9A9A9;
  display:none;
  font-family:Courier New, Courier, monospace;
  font-size:24px;
  font-weight:700;
  height:40px;
  line-height:40px;
  position:fixed;
  text-align:center;
  top:0;
  width:40px;
  z-index:40000;
}

.dragger-switch,.dragger-switch-all {
  background-color:#736E6E;
  border-bottom-right-radius:15px;
  border-top-right-radius:15px;
  font-family:Courier New, Courier, monospace;
  font-size:2vh;
  font-weight:700;
  height:6vh;
  padding:5%;
  z-index:50000;
}

.d-switches-is-open {
  transform:scaleX(1)!important;
  -webkit-transform:scaleX(1)!important;
}

.d-transition {
  -webkit-transition:left .1s, top .1s, width .1s, height .1s, background-color .1s, 0 .1s;
  transition:left .1s, top .1s, width .1s, height .1s, background-color .1s, transform .1s;
}

.drawing {
  box-sizing:border-box;
  position:absolute;
}

.exit_door_hover {
  -webkit-filter: brightness(2);
}

.hline {
  height:1px;
  left:0;
  position:absolute;
  width:100%;
}

.button-icon {
  height:50%;
  margin:auto;
  width:50%;
}

.info {
  font-size:1.75vh;
}

.nav-account-container-is-open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.button-nav {
  background: #6db3f2; /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 21%, #54a3ee 21%, #3690f0 75%, #1e69de 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 21%,#54a3ee 21%,#3690f0 75%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 21%,#54a3ee 21%,#3690f0 75%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.nav-is-open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.icon-person {
  height: 3vh;
  width: 1.5vh;
}

.button-tools {
  background: rgb(180,221,180); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(180,221,180,1) 0%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 100%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 100%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(180,221,180,1) 0%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 100%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.nav-tools-container-is-open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.rainbow-border {
  -webkit-animation:rainbow 4s infinite alternate;
  border:4px solid hsl(0,100%,50%);
}

.switchon {
  background-color:#00709D;
}

.tool_hover_class {
  background-color:grey!important;
}

.upload-container-is-open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.upload-preview-container_is_open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}

.vline {
  height:100%;
  position:absolute;
  top:0;
  width:1px;
}

.wallPic {
  /*-webkit-backface-visibility: hidden; */
}

body {
  background-color: black;
  overflow-x:hidden;
  overflow-y:hidden;  /* fixed the scrolling problem */
  position:fixed;
}

@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}

.rainbow-border{
  -webkit-animation: rainbow 4s infinite alternate;
  border: 4px solid hsl(0, 100%, 50%);
}

@-webkit-keyframes blink {
  0%   { outline: 1px solid white;
         z-index: 90000;  }
  33%  { outline: 1px solid white;
    z-index: 90000;  }
  100% { outline: 1px solid transparent;
    z-index: 90000;  }
}

.animation-selected-image {
  outline: 1px solid transparent;
  -webkit-animation: blink 2s ease-out 0s 1;
  animation: blink 2s ease-out 0s 1;
}

@-webkit-keyframes animation-temp-fade {
  0%   { opacity: .50; }
  33%  { opacity: .50; }
  100% { opacity: .50; }
}

.animation-temp-fade {
  -webkit-animation: animation-temp-fade 2s ease-out 0s 1;
  animation: animation-temp-fade 2s ease-out 0s 1;
}

#explore-container {
  background-color: gray;
  display: none;
  left: 5vw;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 5vh;
  width: 90vw;
  z-index: 90000;
}

#x-explore-container {
  display: none;
  position: fixed;
  right: 5vw;
  z-index: 90001;
}


#explore-image-container {
  width: 80%;
  height: 60%;
  margin: auto;
}

#image-explore {
  max-height:100%;
  max-width:100%;
  display:block;
  margin:2vh auto auto;


}


#button-explore-left {
  left: 0;
  width: 5vw;
  top: 50%;
  position: absolute;

}


#button-explore-right {
  width: 5vw;
  right: 0;
    top: 50%;
    position: absolute;
}

#igram-link {
left: 45%;
top: 80%;
position: absolute;
  }





#info-page {
  background-color: white;
  display: none;
  left: 5vw;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 5vh;
  width: 90vw;
  z-index: 90000;
}

.info-page-title {
  font-size: 5vh;
  font-family:‘Arial Narrow’, sans-serif;
  font-family:"Open Sans", sans-serif;
  font-family:Courier New, Courier, monospace;
  font-weight: 700;
  text-align: center;
}

.info_subheading {
  display: block;
  font-family:‘Arial Narrow’, sans-serif;
  font-size: 2vh;
  left: 5vw;
  text-align: left;
}

.info-paragraph {
  display: block;
  text-align: justify;
  postion: static;
}

.info-line-center {
  background-color: black;
  height: 2px;
  left: 25%;
  position: absolute;
  width: 50%;
}

.icon-x {
  height: 100%;
  width: 100%;
}

#info-inner-container {
  height: 100%;
  left:15%;
  position: absolute;
  width: 70%;
}

.icon-inline {
  height: 2vh;
}

#info li {
margin-left: 5%;
}


#insta-container {
  display: none;
  right: 0;
  position: absolute;
  top: 0;
  width: 20%;
  z-index: 50000;
}

#insta-images-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  right: 0;
  min-width: 64px;
  overflow: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  position: absolute;
  width: 100%;
  z-index: 50000;
}

.insta-image-div {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.insta_image {
  height: 10vh;
  width: 10vh;
}

#background-opacity {
position: absolute;
  left: 0;
  width: 100%;
  background: gray;
  opacity: 0.3;
  z-index: 1;
}

.spacer-top-bottom {
    background-color: gray;
    height: 1px;
    margin: auto;
    width: 15vw;
  }

.spacer-middle {
  background-color: gray;
  height: 1px;
  margin: auto;
  width: 10vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#insta-header {
  align-items: center;
  border-bottom: 1px solid gray;
  display: none;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  right: 4vw;
  top: 0;

}

#insta-info-username {
  color: white;
  text-decoration: underline;
}

#insta-image-profile-container {
  margin: auto;
  padding-left: 1vw;
  width: 5vh;
  height: 5vh;
}

#insta-image-profile {
width: 5vh;
height: 5vh;
}
