/*
z-indexes:



dragger: 40000;

dragger_switch: 50000;
dragger_switches_container: 50000;
navigation_container: 50000;

dragged image: 60000;

navigation_toggle_button_container: 80000;
dragger_info: 86000;


upload_preview_container: 90000;
debug_box: 90000;
fullscreenmaskclass: 90000;
 */


* {
border:0;
margin:0;
padding:0;
}

.exit_door_hover {
  background: yellow !important;
}

/* new to add */

#dragger_switches_container {
  bottom: 15vh;
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
/*
  width: 25vw;
*/
  z-index: 50000;
}

.dragger_switches_container_is_open {
  transform: scaleX(1)!important;
}

.dragger_switch, .dragger_all_switch {
  background-color: #736E6E;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  font-family:Courier New, Courier, monospace;
  font-size: 2vh;
  font-weight: 700;
  height: 6vh;
  padding: 5%;
  z-index: 50000;
}

#navigation_container {
  background-color: transparent;
  bottom: 0;
  display: flex;
  height: 15vh;
  justify-content: space-around;
  position: fixed;
  width:100%;
  z-index: 50000;

  transform: scaleY(0);
  transition: transform 150ms ease-in-out;
}

.navigation_container_is_open {
  transform: scaleY(1)!important;
}

#options_container {
  background-color: transparent;
  bottom: 0;
  display: flex;
  height: 15vh;
  justify-content: space-around;
  position: fixed;
  width:100%;
  z-index: 50000;

  transform: scaleY(0);
  transition: transform 150ms ease-in-out;
}

.options_container_is_open {
  transform: scaleY(1)!important;
}



#confirm_or_reject_container {
  bottom: 0;
  display: flex;
  height: 15vh;
  justify-content: space-around;
  position: absolute;
  width:100%;
  z-index: 50000;

}

#delete_confirm_or_reject_container {
  bottom: 0;
  display: flex;
  height: 15vh;
  justify-content: space-around;
  position: absolute;
  width:100%;
  z-index: 50000;

}

.icon_image {
  height: 50%;
  margin: auto;
  width: 50%;
}


.confirm_yes {
  background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 5%, #52b152 33%, #008a00 83%, #005700 100%, #002400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 5%,#52b152 33%,#008a00 83%,#005700 100%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 5%,#52b152 33%,#008a00 83%,#005700 100%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.confirm_no {
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 56%, #8f0222 78%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a90329 56%,#8f0222 78%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a90329 56%,#8f0222 78%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



.confirm_button {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
border-top:1px solid #0a2333;
-moz-box-shadow:rgba(0,0,0,1) 0 1px 0;
-webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;

bottom: 2vh;

box-shadow:rgba(0,0,0,1) 3px 7px 10px 0;
color:black;
font-family:Courier New, Courier, monospace;
font-size:2.25vh;
font-weight:700;
/*
margin-left: 1.5vw;
margin-right: 1.5vw;
*/
padding:0;
text-align:center;
text-decoration:none;
text-shadow:rgba(0,0,0,.4) 0 1px 0;
vertical-align:middle;


height: 10vh;
width: 40%;


/* vertical centering */
display: flex;
flex-direction: column;
justify-content: center;


}


@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}

.rainbow_border{
  border: 4px solid hsl(0, 100%, 50%);
  -webkit-animation: rainbow 4s infinite alternate;
}


.button_no_show {
  background: transparent;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  color:transparent;
  font-family:Courier New, Courier, monospace;
  font-size:2.25vh;
  font-weight:700;
  height: 15vh;
  width: 33vw;
  padding:0;
  text-align:center;
  text-decoration:none;
  text-shadow:rgba(0,0,0,.4) 0 1px 0;
  vertical-align:middle;
  height: 10vh;
  width: 15vw;
}

.navigation_button {
  background: #6db3f2; /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 21%, #54a3ee 21%, #3690f0 75%, #1e69de 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 21%,#54a3ee 21%,#3690f0 75%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 21%,#54a3ee 21%,#3690f0 75%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}

.options_button {
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



#upload_preview_container {
  background-color: black;
  border: .5px solid white;
  height: 60vh;
  left: 20vw;
  position: fixed;
  top: 15vh;
  width: 60vw;

  transform: scaleY(0);
  transition: transform 150ms ease-in-out;

  z-index: 90000;
}

.upload_preview_container_is_open {
  transform: scaleY(1)!important;

}

#delete_preview_container {
  background-color: black;
  border: .5px solid white;
  height: 60vh;
  left: 20vw;
  position: fixed;
  top: 15vh;
  width: 60vw;

  transform: scaleY(0);
  transition: transform 150ms ease-in-out;

  z-index: 90000;
}

.delete_preview_container_is_open {
  transform: scaleY(1)!important;

}



#confirm_or_reject_container_info {
 bottom: 0;
 color: white;
 position: absolute;
}

#delete_confirm_or_reject_container_info {
 bottom: 0;
 color: white;
 position: absolute;
}


#dragger_info {
background-color:transparent;
color:yellow;
position:fixed;
text-align:center;
top:0;
z-index:86000;
}

#image_upload_preview {
display:block;
margin:auto;
max-height:90%;
max-width:90%;
margin-top: 2vh;
}
#delete_preview {
display:block;
margin:auto;
max-height:90%;
max-width:90%;
margin-top: 2vh;
}






#line_one {
  top: 40%;
}

#line_two {
  top: 50%;
}

#line_three {
  top: 60%;
}

#line_one, #line_two, #line_three {
  background-color: black;
  border-radius: 20%;
  height: 4%;
  left: 25%;
  position: absolute;
  -moz-transition:all .13s;
  -ms-transition:all .13s;
  -o-transition:all .13s;
  -webkit-transition:all .13s;
  transition:all .13s ease-in-out;
  width: 50%;
}

#debug_box {
background-color:transparent;
border:1px dashed white;
color:white;
display:block;
height:30vh;
margin:0;
padding:0;
position:absolute;
right:0;
top:0;
width:50vw;
z-index:90000;
}

#selected_image {
display:block;
margin:auto;
max-height:90%;
max-width:90%;
}

#selected_image_box {
display:none;
height:100%;
position:absolute;
width:100%;
}

#selected_image_container {
height:90%;
}

#selectheader {
font-size:2vh;
height:10%;
text-align:center;
}

#navigation_toggle_button_container {
bottom:0;
height:10vh;
left: auto;
position:absolute;
right:0;
top: auto;
width:10vh;
z-index:80000;
}

#navigation_toggle_button_container button {
-moz-appearance:none;
-moz-border-radius:0;
-moz-box-shadow:none;
-webkit-appearance:none;
-webkit-border-radius:0;
-webkit-box-shadow:none;
appearance:none;
background-color:gray; /* resting state color */
border:none;
border-radius:0;
box-shadow:none;
color:black; /* text color */
cursor:pointer;
display:inline-block;
font-family:"Open Sans", sans-serif;
font-size:100%;
height:100%;
margin:0;
opacity:1;
padding:0;
position:relative;
width:100%;
}

#navigation_toggle_button_container button:focus {
outline:none;
}

#navigation_toggle_button_container button:hover,#navigation_toggle_button_container button:active {
background-color:gray; /* hover state color */
opacity:1;
}

#wrapper {
background-color: black;
display:block;
height:100vh;
left:0;
position:absolute;
top:0;
width:100vw;
}

/* opacity is the primary feature of this functionality. */
.btn-file {
overflow:hidden;
position:relative;
}

.btn-file input[type=file] {
background:grey;
cursor:inherit;
display:block;
filter:alpha(opacity=0);
min-height:100%;
min-width:100%;
opacity:0;
outline:none;
position:absolute;
right:0;
top:0;
}

.button {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
border-top:1px solid #0a2333;
-moz-box-shadow:rgba(0,0,0,1) 0 1px 0;
-webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;
box-shadow:rgba(0,0,0,1) 3px 7px 10px 0;
color:black;
font-family:‘Arial Narrow’, sans-serif;
font-size:1.75vh;
font-weight:700;

/*
margin-left: 1.5vw;
margin-right: 1.5vw;
*/
text-align:center; /* horizontal centering */
text-decoration:none;
text-shadow:rgba(0,0,0,.4) 0 1px 0;
vertical-align:middle;

/* vertical centering */
display: flex;
flex-direction: column;
justify-content: center;



height: 10vh;
width: 15vw;


}

.button:focus {
background:#00aaff;
border-top-color:#00aaff;
color:#ffffff;
}

.col_1,.col_2,.col_3,.row_1,.row_2,.row_3 {
display:block;
position:absolute;
}

.dragger {
background-color:transparent;
border-radius:100%;
color:#A9A9A9;
display:none;
font-family:Courier New, Courier, monospace;
font-size:24px;
font-weight:700;
position:fixed;
text-align:center;
top:0;
z-index:40000;


line-height: 40px;
height: 40px;
width: 40px;


}


#stretch_dragger {
  box-shadow: 0 0 3px 3px blue;
  color: blue;
}

#stretch_dragger_switch::first-letter {
  font-size: 150%;
  color: blue;
}

#stretch_dragger_switch.switchon {
  background-color: lightblue !important;
}




#opacity_dragger {
  box-shadow: 0 0 3px 3px white;
  color: white;
}

#opacity_dragger_switch::first-letter {
  font-size: 150%;
  color: white;
}

#opacity_dragger_switch.switchon {
  background-color: silver !important;
}




#rotation_dragger {
  box-shadow: 0 0 3px 3px green;
  color: green;
}

#rotation_dragger_switch::first-letter {
  font-size: 150%;
  color: green;
}

#rotation_dragger_switch.switchon {
  background-color: lightgreen !important;
}




#blur_brightness_dragger {
  box-shadow: 0 0 3px 3px darkorange;
  color: darkorange;
}

#blur_brightness_dragger_switch::first-letter {
  font-size: 150%;
  color: darkorange;
}

#blur_brightness_dragger_switch.switchon {
  background-color: peachpuff !important;
}



#grayscale_invert_dragger {
  box-shadow: 0 0 3px 3px silver;
  color: silver;
}

#grayscale_invert_dragger_switch::first-letter {
  font-size: 150%;
  color: silver;
}

#grayscale_invert_dragger_switch.switchon {
  background-color: #F3E13E !important;
}




#contrast_saturate_dragger {
  box-shadow: 0 0 3px 3px crimson;
  color: crimson;
}

#contrast_saturate_dragger_switch::first-letter {
  font-size: 150%;
  color: crimson;
}

#contrast_saturate_dragger_switch.switchon {
  background-color: lightcoral !important;
}




#party_dragger {
  box-shadow: 0 0 3px 3px purple;
  color: purple;
}

#party_dragger_switch::first-letter {
  font-size: 150%;
  color: purple;
}

#party_dragger_switch.switchon {
  background-color: plum !important;
}




.dragger_transitions {
-webkit-transition:left .1s, top .1s, width .1s, height .1s, background-color .1s, 0 .1s;
transition:left .1s, top .1s, width .1s, height .1s, background-color .1s, transform .1s;
}

.drawing {
box-sizing:border-box;
position:absolute;
}

/* doubletap zoom */
.fullscreenmaskclass {
background:black;
background-position:center!important;
background-repeat:no-repeat!important;
background-size:contain!important;
height:100%;
opacity:1;
position:fixed;
width:100%;
z-index:90000;
}

.hline {
height:1px;
left:0;
position:absolute;
width:100%;
}

.info {
font-size:1.75vh;
}

.switchon {
background-color:#00709D;
}

.tool_hover_class {
background-color:grey!important;
}

.vline {
height:100%;
position:absolute;
top:0;
width:1px;
}

body {
background-color:white!important;
overflow-x:hidden;
overflow-y:hidden;  /* fixed the scrolling problem */
position:fixed;
}

/* Droppable add/remove Classes */
.del_active_class {
}

.del_hover_class {
}

.tool_active_class {
}

/*
.button:active {
   border-top-color: #00ddff;
   background: #00ddff;
   }
*/
