#connect-info {
  background-color: transparent;
  top: 0;
  color: white;
  left: 48px;
  padding-left: 10px;
  position: fixed;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transition: transform 150ms ease-in-out;
  width: 80%;
  z-index:50000;

  .icon-person {
    height: 3vh;
    width: 1.5vh;
  }

}

.connect-info-is-open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}
