#connect-info {
  background-color: transparent;
  bottom: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 14px;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transition: transform 150ms ease-in-out;
  z-index: 50000;


  .icon-person {
    height: 20px;
    width: 10px;
  }

}

.connect-info-is-open {
  transform:scaleY(1)!important;
  -webkit-transform:scaleY(1)!important;
}
